<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>UniqueGamer</title>
  <link rel="shortcut icon" href="/download--2-.jpg" type="image/gif">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    
      <span class="ml-3 text-xl">UniqueGamer</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href='https://uniquegamer204.uniquegamer101.repl.co/' class="mr-5 hover:text-blue-900">Home</a>
      <a href='https://uniquegamer204.uniquegamer101.repl.co/commands' class="mr-5 hover:text-blue-900">Commands</a>
      <a href='https://uniquegamer204.uniquegamer101.repl.co/dashboard' class="mr-5 hover:text-blue-900">Dashboard</a>

      <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class=" hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 pl-3 pr-4 py-2 md:hover:text-blue-900 md:p-0 flex items-center justify-between w-full md:w-auto">Other services <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                <!-- Dropdown menu -->
                <div id="dropdownNavbar" class="hidden bg-white text-base z-10 list-none divide-y divide-gray-100 rounded shadow my-4 w-44">
                    <ul class="py-1" aria-labelledby="dropdownLargeButton">
                    <li>
                        <a href="change_log" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">update log</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Earnings</a>
                    </li>
                    </ul>
                    <div class="py-1">
                    <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Sign out</a>
                    </div>
                </div>

      <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
    </nav>
<!--     <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href='https://dsc.gg/Unique-Gamer'>discord</a> </button> -->
<!--       <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button> -->
    
  </div>
</header>

  <section>
    <h1 class="text-base font-semibold leading-7 text-gray-900 10 sm:text-center hover:ring-gray-900/20"> UniqueGamer discord bot update 1.01 changelog</h1>
    
    <p class="text-base font-semibold leading-7 text-gray-900 10 sm:text-center hover:ring-gray-900/20">Hello guys the new update for UniqueGamer discord bot is out.Thank you for using UniqueGamer discord bot.</p>
    

    <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center"> -updated to discord.js v14</p>
    <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center"> - added advanced afk system</p>
    <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center"> - added new slash commands for the afk system(slash commands are not yet visivle for public. They will be synced for public use soon.)</p>
    <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">- fixed bugs
      <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">-fixed errors</p>
    <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center"> - added error codes(error codes and its documentation will be functional in next update)</p>
  </section>

  
  
  <footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      </svg>
      <span class="ml-3 text-xl">UniqueGamer</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020-2023 UniqueGamer — all rights reserved
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
      </a>
      <a class="ml-3 text-gray-500">
      </a>
    </span>
  </div>
</footer>
  
</body>

</html>